.map-wrapper {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* subtle gray shadow */
  border-radius: 8px;
}


.hoverinfo {
  background-color: #ffffff;
  color: #333333;
  padding: 6px 10px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  font-size: 0.9rem;
  pointer-events: none;
  position: relative;
  z-index: 1000;
  white-space: nowrap;
}
